.popup-add__close-button {
    position: absolute;
    top: -37px;
    right: 0px;
    background-image: url(../../../images/close-button.svg);
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-size: cover;
}

.popup-add__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1280px) {
    .popup-add__close-button {
        top: -40px;
        right: -40px;
        width: 32px;
        height: 32px;
    }
}