    .element__delete {
        width: 18px;
        height: 19px;
        background-image: url(../../../images/trash.svg);
        margin-top: 20px;
        margin-right: 20px;
        border: none;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: transparent;
    }

    .element__delete:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .element__delete:active {
        color: black;
    }